* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAVBAR CSS */

.navbar {
    height: 80px;
    margin: 0px 10px 0px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

#code-icon {
    margin-right: 26px;
}

#navbar_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0px;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0px;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar_menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* CONTENT CSS */
.content {
    padding-top: 30px;
}

.hero-content {
    max-width: 70vw;
    margin: 0 auto;
}

.hero-text {
    margin: 40px auto;
}

.hero-text h2{
    font-size: 60px;
    font-weight: 500;
    line-height: 1.5;
}

.image-container {
    border-radius: 15px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    height: 60vh;
}

.image-container img{
    width: 100%;
    height: auto;
    display: block;
}